* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url('./assets/brett-jordan-981LUgzWE2E-unsplash.jpg');
background-size: cover;

}



.MainDiv {
  width: 50%;
  height: 60%;
  border: 3px solid white;
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  border-radius: 5%;
  cursor: pointer;
}

.subHeading{
  font-size: xx-large;
  color: white;
  cursor: pointer;
}

.BrowseGenres {
  width: 30%;
  height: 30%;
  border-radius: 5%;
  text-align: center;
  background-color: rgb(186, 252, 3);
  font-size: x-large;
  font-weight: 500;
}

.FeItemCard{
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  color: black;

  
}
.FeItemsCards{
  list-style-type: none;
  opacity: 0.75;
}

.Heading{
  font-size: xx-large;
  color: white;
}

.FeaturedPlaylist {
  width: 30%;
  height: 30%;

  border-radius: 5%;
  text-align: center;
  background-color: rgb(252, 3, 240);
  font-size: x-large;
  font-weight: 500;
}

.ReleasedSongs {
  width: 30%;
  height: 30%;

  border-radius: 5%;
  text-align: center;
  background-color: rgb(3, 252, 223);
  font-size: x-large;
  font-weight: 500;

}

.GeItemCard{
  margin-top: 25%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: space-between;  
  column-gap: 40px;
}


.ItemCard{
  display: grid;
  
  grid-template-columns: repeat(4,1fr);
  margin-top: 10%;
  background-color: black;
  opacity: 0.75;
 justify-content: space-around;
}

.ItemCard>li{
  text-align: center;
}

li{
  text-align: center;
}

.ItemsCards{
  list-style-type: none;
}
@media only screen and (max-width: 600px) {

  .MainDiv {
    width: 50%;
    height: 60%;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5%;
  }
  .BrowseGenres, .FeaturedPlaylist, .ReleasedSongs{
    width: 70%;
  } 


}